body {
  background-color: grey;
  margin: 0 auto;
  color: white;
}

#container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#parentForm {
  margin: 0 auto;
  display: block;
}

#top-half {
  display: flex;
  flex-flow: wrap;
}

.row1 {
  flex-basis: 24%;
  margin: 0 auto;
}

#bottom-half {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.row2 {
  flex-basis: 25%;
}

#plot {
  flex-basis: 30%;
  height: 150px;
}

 #checkbox {
   margin: 0 auto;
 }

 #book-container {
   display: flex;
   flex-flow: wrap;
 }
 .books {
   flex-basis: 47%;
   transition-duration: 500ms;
   max-height: 300px;
   overflow: scroll;
   margin: 0;
 }

 .books:hover {
   background-color: white;
   color: black;
 }

@media (max-width: 920px) {
  .books {
    flex-basis: 100%;
  }
}
